<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="buildings">My buildings</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="auth/signup">Sign up</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="auth/signin">Sign in</a>
      </li>
      <li class="nav-item" *ngIf="isAuth">
        <a class="nav-link" (click)="onSignOut()"
           style="cursor:pointer">Log out</a>
      </li>
    </ul>
  </div>
</nav>
